body, html {
  background: white;
  font-family: 'League Spartan', sans-serif;
}

li {
  margin: 10px;
}

.hero.is-primary {
  background-color: transparent;
}
.hero-body {
  padding: 1.5rem 1.5rem;
}
.hero-body .content {
  text-align: center;
  color: black;
}
.hero-body .content h1 {
  font-size: 2.8em;
  font-weight: 600;
  margin-bottom: 0.3em;
  color: black;
}
.hero-body .content h3 {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5em;
}
img.social-logo {
  display: inline-block;
  margin-right: 10px;
  text-indent: -9999px;
  width: 20px;
}

#app > :nth-child(2) {
  padding-top: 0;
}

.help.form-label {
  font-size: 1em;
  font-weight: 600;
  color: #565656;
}

.center-block {
  margin: 0 auto;
  display: block;
}

.box span.icon {
  float: right;
  font-size: 1.7em;
  padding: 2rem 2rem 0 0;
}

.is-large.fab {
  font-size: 7em;
}
.is-large.fas {
  font-size: 5em;
  margin-left: 0.2em;
}

.menu-list li a:hover {
  background: #d9d9d9;
}

.token.number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}

.scrollable {
  height: 65vh;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
}

.heart-logo {
  height: 1em;
}

.button-logo {
  height: 1em;
  margin-right: 5px;
}

.thirdparty-logo {
  height: 1.5em;
  padding-right: 8px;
  vertical-align: middle;
}

#step-1, #step-2, #step-3 {
  padding-bottom: 0.3em;
  padding-top: 0.4em;
}

.column.box {
  padding: 1em;
}

#page-404 {
  color: #888;
  display: table;
  font-family: 'League Spartan', sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
}
#page-404 > div {
  display: table-cell;
  vertical-align: middle;
  margin: 2em auto;
}
#page-404 h1 {
  color: black;
  font-size: 4em;
  font-weight: 600;
  text-align: center;
}
#page-404 p {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  color: black;
  font-size: 2em;
  font-weight: 200;
}

.modal-card-body ul {
  list-style-type: disc;
}
.modal-card-body li {
  margin-left: 2.5em;
}
.modal-card-body textarea {
  height: 66%;
  width: 100%;
}

.center-parent {
  width: 100%;
  text-align: center;
}
.center-parent > .child {
  display: inline-block;
  margin: 2px;
}

.column.is-information .nav-btn {
  cursor: grab;
  height: 3em;
}
.column.is-information .sidebar-img {
  pointer-events: none;
  height: 21em;
  padding: 2em;
}

.modal-card-body.modal-box {
  display: flex;
  flex-direction: column;
  height: 450px;
}
.modal-card-body.modal-box textarea {
  height: 100%;
}

.box.final-box > a.button {
  margin-right: 0.2em;
}

.no-select {
  user-select: none;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label {
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
  font: 16px/20px 'League Spartan', sans-serif;
  color: black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input[type=checkbox] + label:last-child {
  margin-bottom: 0;
}
input[type=checkbox] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #00b4ff;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}
input[type=checkbox]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bg-pattern {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='a' patternUnits='userSpaceOnUse' width='70' height='70' patternTransform='scale(1) rotate(0)'%3E%3Crect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/%3E%3Cpath d='M-4.8 4.44L4 16.59 16.14 7.8M32 30.54l-13.23 7.07 7.06 13.23M-9 38.04l-3.81 14.5 14.5 3.81M65.22 4.44L74 16.59 86.15 7.8M61 38.04l-3.81 14.5 14.5 3.81'  stroke-linecap='square' stroke-width='1' stroke='hsla(259, 59%, 59%, 0.16)' fill='none'/%3E%3Cpath d='M59.71 62.88v3h3M4.84 25.54L2.87 27.8l2.26 1.97m7.65 16.4l-2.21-2.03-2.03 2.21m29.26 7.13l.56 2.95 2.95-.55'  stroke-linecap='square' stroke-width='1' stroke='hsla(340, 82%, 52%, 0.18)' fill='none'/%3E%3Cpath d='M58.98 27.57l-2.35-10.74-10.75 2.36M31.98-4.87l2.74 10.65 10.65-2.73M31.98 65.13l2.74 10.66 10.65-2.74'  stroke-linecap='square' stroke-width='1' stroke='hsla(198, 100%, 50%, 0.19)' fill='none'/%3E%3Cpath d='M8.42 62.57l6.4 2.82 2.82-6.41m33.13-15.24l-4.86-5.03-5.03 4.86m-14-19.64l4.84-5.06-5.06-4.84'  stroke-linecap='square' stroke-width='1' stroke='hsla(47, 81%, 61%, 0.2)' fill='none'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/%3E%3C/svg%3E")
}

.fc-powered-by {
  font-size: 0.6em;
  color: gray;
}
